*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    background-color: rgb(226, 226, 226);
    color: rgb(10, 10, 48);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.header{
    padding-bottom: 20px;
    font-weight: bold;
    padding-top: 15px;
    
}

::placeholder{
    color: rgb(10, 10, 48);
}

.main{
    margin: 40px auto;
    width: 30%;
    background-color: rgb(255, 255, 255);
}

input{
    width: 100%;
    padding: 7px;
    border: 2px solid rgb(10, 10, 48);
}

select{
    width: 100%;
    padding: 7px;
    border: 2px solid rgb(10, 10, 48);
}

p{
    color: rgb(37, 146, 37);
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 10px;
}

.work{
    margin: auto;
    width: 350px;
}

button{
    width: 35%;
    background-color: rgb(9, 9, 122);
    color: white;
    padding: 15px;
    margin-top: 0%;
    
}

.issue{
    padding-bottom: 100px;
}